<!DOCTYPE html>
<html lang="en">

<head>
{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Atalia - Coming Soon!</title>
<meta name="description" content="Atalia - Digital Concierge - ¡PROXIMAMENTE!">
<link rel="icon" href="{% static 'core/coming_soon/img/logo.jpg' %}" type="image/x-icon">


<meta property="og:title" content="Atalia" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{% static 'core/coming_soon/img/logo.jpg' %}" />

<link rel="stylesheet" href="{% static 'core/coming_soon/css/app.min.css'%}" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

<style>
    h1, h2, h3 {
        font-family: 'Roboto', sans-serif;
    }
    p{
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
    }
</style>
</head>
<body>
<div class="animation anim-dark" data-aos="slide-effect-2">
<div class="wrapper animation-inner">
<div class="background">
<div class="video-container">
<div class="filter"></div>
<video poster="{% static 'core/coming_soon/img/logo.jpg' %}" id="bgvid" playsinline autoplay muted loop>
<source src="{% static 'core/coming_soon/video/ocean_Trim_1.mp4' %}" type="video/mp4" />Your browser does not support the video tag. I suggest you upgrade your browser.
<source src="{% static 'core/coming_soon/video/ocean_Trim_1.mp4' %}" type="video/webm" />Your browser does not support the video tag. I suggest you upgrade your browser.
</video>
</div>
</div>

<div class="content-section d-flex justify-content-center align-items-center">
<div class="v-lines">
<div class="vline-1"></div>
<div class="vline-2"></div>
<div class="vline-3"></div>
<div class="vline-4"></div>
</div>
<div class="container">
<div class="center-content text-light align-self-center">
<img style="width:15%; border-radius: 50% 20% / 10% 40%;margin-bottom: 3%" src="{% static 'core/coming_soon/img/logo.jpg'%}" class="img-fluid" alt="Atalia Experiences" data-aos="fade" data-aos-delay="1800" />
<br>
<h1>¡MUY PRONTO!</h1>
<p class="lead my-4" data-aos="fade" data-aos-delay="2500">Estamos preparando algo increible.</p>

<span class="animation anim-light" data-aos="slide-effect-btn" data-aos-delay="3000">
<a href="javascript:void(0);" class="btn btn-lg btn-outline" data-toggle="modal" data-target="#subscribeModal">¡Suscríbete  Ahora!</a>
</span>
</div>

</div>

</div>

<div class="sidebar sidebar-dark d-flex flex-column justify-content-end" data-aos="slide-left" data-aos-delay="3000">
<div class="hamburger-menu mb-auto">
<div class="hamburger">
<div class="hamburger-line hamburger-line-1"></div>

<div class="hamburger-line hamburger-line-2"></div>

<div class="hamburger-line hamburger-line-3"></div>

<div class="hamburger-line hamburger-line-4"></div>

</div>

</div>

<div class="social-links">
<a href="https://www.facebook.com/AtaliaExperiences/" target="_blank"> Facebook </a>
<a href="https://www.instagram.com/ataliaexperiences/" target="_blank"> Instagram </a>
</div>
</div>


<div class="fullscreen-content dark-bg" id="fscontent">
<div class="container">
<h1 class="text-center my-md mb-5" data-aos="fade-in" data-aos-duration="300">Atalia es... </h1>
<div class="row">
<div class="col-md-6">
<p class="lead" data-aos="fade-in" data-aos-duration="300">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac venenatis est. Ut ut elit in elit Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac venenatis est. Ut ut elit in elit imperdiet imperdiet.</p>
</div>
<div class="col-md-6" data-aos="fade-in" data-aos-duration="300">
<p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac venenatis est. Ut ut elit in elit Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac venenatis est. Ut ut elit in elit imperdiet imperdiet. </p>
</div>
</div>
<div class="row my-lg">

<div class="col-md-6 col-lg-6">
<div class="feature-block" data-aos="fade-in" data-aos-delay="500">
<i class="pe-7s-paint-bucket pe-5x"></i>
<h3>En construcción</h3>
<p>Pronto podrás conocer todos los servicios de Atalia Experiences.</p>
</div>
</div>

<div class="col-md-6 col-lg-6">
<div class="feature-block" data-aos="fade-in" data-aos-delay="2000">
<i class="pe-7s-smile pe-5x"></i>
<h3>Be Happy</h3>
<p>¡Ten listas tu maletas! Lo que nos hace felicez es viajar</p>
</div>
</div>
</div>
<div class="section-title">
<h2 class="section-heading">Nuestro Equipo</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac venenatis est. Ut ut elit in elit imperdiet consectetur sit amet eu tellus. </p>
</div>
<div class="row">
<div class="col-md-6 col-lg-4">
<div class="team-block">
<div class="animation anim-light mb-3" data-aos="slide-effect-2"><img src="{% static 'core/coming_soon/img/logo_blue.jpg'%}" class="img-fluid" alt="equipo 1" /></div>
<h4 data-aos="fade-in">Cristina</h4>
<p data-aos="fade-in" data-aos-delay="500">Co-Founder and CEO</p>
</div>
</div>
<div class="col-md-6 col-lg-4">
<div class="team-block">
<div class="animation anim-light mb-3" data-aos="slide-effect-2"><img src="{% static 'core/coming_soon/img/logo_blue.jpg'%}" class="img-fluid" alt="equipo 2" /></div>
<h4 data-aos="fade-in">Diana</h4>
<p data-aos="fade-in" data-aos-delay="500">Co-Founder</p>
</div>
</div>
<div class="col-md-6 col-lg-4">
<div class="team-block">
<div class="animation anim-light mb-3" data-aos="slide-effect-2"><img src="{% static 'core/coming_soon/img/logo_blue.jpg'%}" class="img-fluid" alt="equipo 3" /></div>
<h4 data-aos="fade-in">Prima</h4>
<p data-aos="fade-in" data-aos-delay="500">I don´t know</p>
</div>
</div>

</div>
<div class="section-title mt-5">
<h2 class="section-heading">¡ESTAMOS PARA SERVIRTE!</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ac venenatis est. Ut ut elit in elit imperdiet consectetur sit amet eu tellus. </p>
</div>
<p class="text-center">+1 981-xxx-xxxx</p>
<p class="text-center"><a href="/cdn-cgi/l/email-protection#cda5a8a1a1a28daba1b8a4a9a4a3aee3aea2a0"><span class="__cf_email__" data-cfemail="81e9e4ededeec1e7edf4e8e5e8efe2afe2eeec">[email&#160;protected]</span></a>
<br><br>
<a href="javascript:void(0);" class="btn btn-lg btn-outline" data-toggle="modal" data-target="#contactModal">Contacto</a>
</p>
</div>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d119096.96552527377!2d-86.91927445036296!3d21.12132850974444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f4c2b05aef653db%3A0xce32b73c625fcd8a!2zQ2FuY8O6biwgUS5SLg!5e0!3m2!1ses!2smx!4v1654825931903!5m2!1ses!2smx" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
</div>

</div>


<div class="modal modal-center modal-dark" id="subscribeModal" tabindex="-1" role="dialog" aria-labelledby="subscribeModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true"><i class="pe-7s-close pe-2x"></i></span>
</button>
<h2 class="modal-title" id="subscribeModalLabel">Suscríbete</h2>
<p class="lead text-center text-light p-2">
    Suscríbete  para recibir nuestras notificaciones.
</p>
<form class="pr-4 pl-4 pb-4" id="subscribeform" action="php/subscribe.php" method="post">
<div class="form-group md-form">
<input type="text" name="fname" class="form-control input-material" autocomplete="off" required>
<span class="highlight"></span>
<span class="bar"></span>
<label class="">Nombre</label>
</div>
<div class="form-group md-form">
<input type="email" name="email" class="form-control input-material" autocomplete="off" required>
<span class="highlight"></span>
<span class="bar"></span>
<label class="">Email</label>
</div>
<div class="form-group text-center">
<button type="submit" class="btn btn-lg btn-outline" id="js-subscribe-btn">Suscríbete Ahora</button>
<div id="js-subscribe-result" data-success-msg="Success, Please check your email." data-error-msg="Oops! Something went wrong"></div>
</div>
</form>
</div>
</div>
</div>
</div>


<div class="modal modal-center modal-dark" id="contactModal" tabindex="-1" role="dialog" aria-labelledby="contactModalLabel" aria-hidden="true">
<div class="modal-dialog" role="document">
<div class="modal-content">
<div class="modal-body">
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true"><i class="pe-7s-close pe-2x"></i></span>
</button>
<h2 class="modal-title" id="contactModalLabel">Contacto</h2>
<p class="lead text-center text-light p-2">
¿Tienes alguna duda? ¿Quisieras saber más de nuestro proyecto? ¡Escríbenos!
</p>
<form class="pr-4 pl-4 pb-4" id="phpcontactform" action="php/contact.php" method="post">
<div class="row">
<div class="col-sm-6">
<div class="form-group md-form">
<input type="text" name="fname" class="form-control input-material" autocomplete="off" required>
<span class="highlight"></span>
<span class="bar"></span>
<label class="">Nombre</label>
</div>
</div>
<div class="col-sm-6">
<div class="form-group md-form">
<input type="email" name="email" class="form-control input-material" autocomplete="off" required>
<span class="highlight"></span>
<span class="bar"></span>
<label class="">Email</label>
</div>
</div>
</div>
<div class="form-group md-form">
<textarea name="message" class="form-control input-material" rows="5" required></textarea>
<span class="highlight"></span>
<span class="bar"></span>
<label class="">Mensaje</label>
</div>
<div class="form-group text-center">
<button type="submit" class="btn btn-lg btn-outline" id="js-contact-btn">Enviar</button>
<div id="js-contact-result" data-success-msg="Success, Please check your email." data-error-msg="Oops! Something went wrong"></div>
</div>
</form>
</div>
</div>
</div>
</div>
<cloudflare-app><script type="text/javascript">(function(i,m,p,a,c,t){c.ire_o=p;c[p]=c[p]||function(){(c[p].a=c[p].a||[]).push(arguments)};t=a.createElement(m);var z=a.getElementsByTagName(m)[0];t.async=1;t.src=i;z.parentNode.insertBefore(t,z)})('//d.impactradius-event.com/P-A409593-aef9-4411-9d2f-d130b3a46e711.js','script','impactStat',document,window);impactStat('transformLinks');impactStat('trackImpression');</script></cloudflare-app>
<cloudflare-app><script src="https://web3analytics.vercel.app/umami.js" data-website-id="46e5ca0d-1b92-4adf-8e03-7ad141e38e3b" defer="" async=""></script></cloudflare-app>

<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{% static 'core/coming_soon/js/app.min.js'%}"></script>
</body>
</html>